.container
  = render 'evidences/header'
  .main
    .title-block
      %h1.title 投稿されたエビデンス一覧
      .sort-area
        = button_to 'posts', {method: :get, params: { sort: @sort }} do
          - if @sort == "asc"
            = icon('fa', 'sort-down')
            新着順
          - elsif @sort == "desc"
            = icon('fa', 'sort-up')
            古い順
    .posts
      -# 投稿内容を１レコードずつ展開
      - @posts.each_with_index do | post, i |
        %div{ class: "posts__post number#{ i + 1 }" }
          .info-box
            = link_to "ユーザー名", "#", class: "info-box__user"
            %time.info-box__updated_at= l post.updated_at
            .info-box__evidences エビデンス数 #{ post.evidences.count }
            .info-box__level エビデンスレベル 1010101010
          = link_to evidence_path(post.id), style: "all:initial" do
            %p.post-text
              = post.text
    -# ページネーション機能実装予定
    .pagination << 1 2 3 >>