.container
  = render 'evidences/header'
  .main
    .title-block
      %h1.title 投稿されたエビデンス一覧
      .sortBtn-area
        = button_to 'posts', { method: :get, params: { sort: @sort } } do
          - if @sort == "asc"
            = icon('fa', 'sort-down')
            新着順
          - elsif @sort == "desc"
            = icon('fa', 'sort-up')
            古い順
    .posts
      -# 投稿内容を１レコードずつ展開
      = render partial: 'post', collection: @posts, as: "post"
    -# ページネーション機能実装予定
    .pagination << 1 2 3 >>
